/* ############### css - todas as paginas ############### */
*{

	font-family: 'Courier New', Courier, monospace;
}
.topo-pagina{
    text-align: right;
	height: 100px;
	background-color: SlateBlue;
	padding: 10px;
}
.topo-pagina > a{
    text-decoration: none;
}
.avatar{
	width: 3.5rem;
	border-radius: 50%;
}
.barra-navegacao{
    color: yellow;
    list-style: none;
}

/* ############### css - pagina de painel ############### */


/* ############### css - pagina de funcionario ############### */

